<odoo>
    <data>
       <!--  menu Commerciale -->
       <menuitem name="Commerciale" id="commerciale_menu_root" sequence="1" />
       <menuitem name="Clients" id="client" parent="commerciale_menu_root" sequence="1" action="action_commerciale_client"/>  
       <menuitem name="Presonnels" id="personnel" parent="commerciale_menu_root" sequence="2" action="action_commerciale_personnel"/>  
       <menuitem name="Produits" id="produit" parent="commerciale_menu_root" sequence="3" action="action_commerciale_produit"/> 
       <menuitem name="Caisse" id="caisse" parent="commerciale_menu_root" sequence="4"/> 
       <menuitem name="FacturationClients" id="fc" parent="caisse" action="action_commerciale_FacturationClients"/>
       <menuitem name="CommandeClients" id="cc" parent="caisse" action="action_commerciale_CommandeClients"/>
       <menuitem name="FacturationFournisseurs" id="ff" parent="caisse" action="action_commerciale_FacturationFournisseurs"/>
       <menuitem name="CommandeFournisseurs" id="cf" parent="caisse" action="action_commerciale_CommandeFournisseurs"/>     -->
    </data>
</odoo>