<odoo>
    <data>
       <!--  menu Commerciale -->
       <menuitem name="Commerciale" id="commerciale_menu_root"  sequence="1" />
       <menuitem name="Clients" id="client" parent="commerciale_menu_root" sequence="1" action="action_commerciale_client"/>
       <menuitem name="Menu" id="menu" parent="commerciale_menu_root" sequence="4" action="action_commerciale_menu"/>
       <menuitem name="Personnels" id="personnel" parent="commerciale_menu_root" sequence="2" action="action_commerciale_personnel"/>  
       <menuitem name="Produits" id="produit" parent="commerciale_menu_root" sequence="3" action="action_commerciale_produit"/> 
       <menuitem name="Caisse" id="caisse" parent="commerciale_menu_root" sequence="5"/> 
       <menuitem name="Facturation" id="fc1" parent="caisse" action="action_commerciale_FacturationClients"/>
       <menuitem name="Commande" id="cc1" parent="caisse" action="action_commerciale_CommandeClients"/>
       <!-- <menuitem name="Paiement" id="pp1" parent="caisse" action="action_commerciale_Paiement"/> -->
        </data>
</odoo>